<p>
  <strong>Email id of current user:</strong>
  <%= @user.email %>
</p><br />
<% if signed_in? %>
  <%= link_to "Profile", current_user %>
  <%= link_to "Log out", signout_path, method: :delete %> <br />
  <%= link_to 'My Articles Dashboard', user_articles_url(@user) %><br />
<% else %>
  <li><%= link_to "Log in", signin_path %></li>
<% end %>

<h3>Create a new article:</h3>
<%= render  "articles/form" %><br />

<h3>My Articles List:</h3>

<%= render  @user.articles %><br />

